/* Fonts */
@import "fonts/font";

/* Dependencies */
@import "dependancies/mixin";
@import "dependancies/ceaser";
@import "dependancies/reset";
@import "dependancies/helpers";
@import "dependancies/anim";

// custom grid
$gl-colCount: 16 !default;
$gl-gutter: 80px;
$gl-gutter-vertical: 1rem;
$gl-mq-list: (
	lg: $break-large,
	md: $break-medium,
	sm: $break-sm-grid,
	xs: $break-tiny
) !default;
// DOC: http://gridlex.devlint.fr/
// $gl-mq-list:
// max 1440px
// max 1280px
// max 1023px
// max  767px
@import "dependancies/grid/gridlex";

$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

// font
.light {
	font-weight: $light;
}
.normal {
	font-weight: $normal;
}
.medium {
	font-weight: $medium;
}
.semibold {
	font-weight: $semibold;
}
.bold {
	font-weight: $bold;
}
.extrabold {
	font-weight: $extrabold;
}
.black {
	font-weight: $black;
}

// colors
$ccdominant: #2F5996;
$blue: $ccdominant;
$blueGround: #2f5996;
$blueTitle: #5c9dd5;
$blueLight: #f3f8fc;
$ccmain: #575351;
$ccsecondary: #4d4a49;
$black: #333130;
$darkGrey: #282828;
$scrollbar: #000;
$lightgrey2: #d8d8d8;
$grey: #8a8d8f;
$green: green;
$red: #E01111;

.blue{color:$blue;}

// typo
$typoMain:"Montserrat", Helvetica, Arial, sans-serif;
$typoSecondary:"Playfair Display", serif;

// sizes
$contentContainer-size: 1280px;
$contentContainer-size-large: 1440px;
$contentContainer-size-medium: 920px;
$contentContainer-size-small: 740px;
$contentContainer-size-tiny: 600px;

// spaces (bordures des contentContainers > padding)
$borderSpace: 60px;
$borderSpaceMd: 40px;
$borderSpaceSm: 20px;

// spaces (bordures des contentContainers margin-bottom)
$sectionSpace: 100px; // Espacement entre sections
$sectionLSpace: 120px;
$sectionItemSpace: 60px; // Espacement des élem dans les sections

/* ==== SUMMARY ==== *\

// ======= \\
    MIXIN
\\ ======= //

@include responsive(smartphone || tablette || desktop || sdesktop (bigger than desktop) || retina) {};
@include keyframe(animationName) {};
@include prefix(property, value);
@include font-size(20);

// ======== \\
    CEASER
\\ ======== //

In           || Out           || InOut
================================================
$easeInExpo  || $easeOutExpo  || $easeInOutExpo
$easeInQuint || $easeOutQuint || $easeInOutQuint
$easeInQuart || $easeOutQuart || $easeInOutQuart
$easeInCubic || $easeOutCubic || $easeInOutCubic
$easeInQuad  || $easeOutQuad  || $easeInOutQuad
$easeInSine  || $easeOutSine  || $easeInOutSine

$easeInCirc  || $easeOutCirc  || $easeInOutCirc
$easeInBack  || $easeOutBack  || $easeInOutBack
$bounce

animation
=========
fromy-80
fromy80
fromx-80
fromx80
fromy-160
fromy160
fromx-160
fromx160

\* ==== END - SUMMARY ==== */

/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #efefef;
	//box-shadow: 0 0 8px rgba(0,0,0,.25) inset;
}
::-webkit-scrollbar-thumb {
	background: $scrollbar;
	//background: linear-gradient(to bottom,  #999 0%, #666 100%);
	//box-shadow: 0 0 3px rgba(0,0,0,.25) inset;
}

// text selection
::selection {
	background: $ccmain;
	color: #fff;
}
::-moz-selection {
	background: $ccmain;
	color: #fff;
}

// html
html,
body {
	height: 100%;
	width: 100%;
	position: relative;
}
body {
	position: relative;
	font-family: $typoMain;
	font-weight: 400;
	overflow-x: hidden;

	@include font-size(16);

	background: #fff;
	color: $ccmain;
}

/* ============== *\
    CONTAINER
\* ============== */

.global-container {
	overflow: hidden;
	position: relative;
}
.scroll-container {
	padding-top: 0px; // put the same value of the height nav on padding-top here
	&.is-active {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}
}

.page-content {
	margin-top: 200px;
	@include responsive(smartphone){
		margin-top: 120px;
	}
	&.page-content--nomargin{
		margin-top: 0px;
	}
	position: relative;
}

/* ============== *\
    NAV
\* ============== */

.page-loader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 900000;
	top: 0;
	left: 0;

	background: #fff;

	transform: translateX(0%);
	opacity: 1;
	&.is-invisible {
		transform: translateX(5000%);
		opacity: 0;
	}

	// spinner
	> div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;

		width: 50px;
		height: 50px;

		border-radius: 50%;

		border-top: 2px solid $ccdominant;
		border-right: 2px solid transparent;
		border-bottom: 2px solid $ccdominant;
		border-left: 2px solid transparent;

		animation: rot360 1s infinite linear;
	}
}

.scroll-reveal {
	opacity: 0;
	&.is-revealed {
		opacity: 1;
	}
}

@import "part/containers";
@import "part/logocaroussel";
@import "part/groupe";
@import "part/expertises";
@import "part/partenaires";
@import "part/modules";
@import "part/list-related";
@import "part/icons";
@import "part/images";
@import "part/link-fx";
@import "part/btn";
@import "part/slick";
@import "part/sitenav";
@import "part/sliders";
// @import "part/hero-carousel"; // à quoi sert cette part ?
@import "part/markup";
// @import "part/timeline";
@import "part/description-list";
@import "part/gallery";
@import "part/list-media";
@import "part/pagination";
@import "part/form";
@import "part/map";
@import "part/footer";
@import "part/video";
@import "part/typography";
@import "part/mobile-menu";
@import "part/mobile-sitenav";
@import "part/slider-hero";
@import "part/membersbook";
@import "part/contact";
@import "part/breadcrumb";
