/* $BTN
   ========================================================================== */

// BTN DEFAULT
$btnHeight: 50px;
$btnColor: black;
$btnFontSize: 16;
$btnFontSizeSm: 14; // buttons Sm
$btnFontSizeTiny: 12; // buttons responsive smartphones

// BTN SM
$btnSmHeight: 35px;
// BTN XS
$btnXsHeight: 26px;

// SPECIFIC BUTTONS
$btnFormationHeight: 80px;
$btnFormationHeightSm: 60px;
$btnMobileHeight: 50px;

// Calculate btn height with padding and fontsize
@mixin btnHeight($btnHeight: $btnHeight, $btnFontSize: $btnFontSize, $offset: 2) {
	padding: #{($btnHeight - $btnFontSize) / 2 - $offset} 30px #{($btnHeight - $btnFontSize - 1)/2 - $offset};
}

.btn {
	display: inline-block;
  //height: $btnHeight;
	line-height: 1.2;
  vertical-align: center;
	background-color: $btnColor;
  border: 1px solid $btnColor;
  border-radius: 0px;
  outline: none !important;
  @include fs($btnFontSize);
  color: white;
  font-weight: $bold;
  letter-spacing: .5px;
  // # "-2" -> line height: 1.2
  @include btnHeight($btnHeight, $btnFontSize, 2);
  text-decoration: none;
  transition:all .3s ease-out;

  align-self: baseline; // btns in flex
  &:hover {
  	color: black;
  	background-color: white;
		border-color: black;
		cursor: pointer;
  }
  @include responsive(smartphone) {
		// height: $btnMobileHeight;
  	// line-height: #{$btnMobileHeight + 0};
  	padding: #{($btnMobileHeight - $btnFontSize) / 2 - 2px} 20px #{($btnMobileHeight - $btnFontSize - 2)/2 - 2px};
  	@include fs($btnFontSizeTiny);
	}
  @media (max-width: 360px) {
		line-height: 1.4;
	}
  .btn--content {
		// @media (max-width: 360px) {
		// 	position: relative;
		// 	top: #{$btnFormationHeight / 4};
		// }
	}
	.btn--arrow {
		// @media (max-width: 360px) {
		// 	position: relative;
		// 	top: #{$btnFormationHeight / 4};
		// }
	}
}

.btn--arrow {
	color: currentColor;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
  height: 1px;
  background-color: currentColor;
  margin-left: 10px;
  padding-right: 5px;
  margin-top: -3px;
  transition:transform .3s $easeInOutQuint;
  &:after {
  	content: "";
  	@include centerer('vertical');
  	right: -6px;

  	@include triangle(12px, currentColor, right);
  }
  .btn:hover & {
  	transform: translate3d(4px,0,0)
  }
}

// .btn--arrow-groupe {
// 	color: currentColor;
// 	position: relative;
// 	display: inline-block;
// 	vertical-align: middle;
// 	width: 30px;
//   height: 1px;
//   background-color: currentColor;
//   margin-left: 10px;
//   padding-right: 5px;
//   margin-top: -3px;
//   transition:transform .3s $easeInOutQuint;
//   &:after {
//   	content: "";
//   	@include centerer('vertical');
//   	right: -6px;

//   	@include triangle(12px, currentColor, right);
//   }
//   .btn:hover & {
//   	transform: translate3d(4px,0,0)
//   }
// }
.btn--arrow__left {
	color: currentColor;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
  height: 1px;
  background-color: currentColor;
  margin-right: 10px;
  padding-left: 5px;
  margin-top: -3px;
  transition:transform .3s $easeInOutQuint;
  &:after {
  	content: "";
  	@include centerer('vertical');
  	left: -6px;

  	@include triangle(12px, currentColor, left);
  }
  .btn:hover & {
  	transform: translate3d(-4px,0,0)
  }
}

.btn__invert {
	background-color: transparent;
  border-color: $btnColor;
  color: $btnColor;
  &:hover {
  	color: #fff;
  	background-color: $btnColor;
  }
  &:active {
  	color: #fff;
  	background-color: darken($btnColor, 4%);
  	border-color:darken($btnColor, 4%);
  }
}

.btn__groupe {
	background-color: transparent;
	border-color: #fff;
	color: #fff;
	text-decoration: none;
	border: 1px solid;
	padding: 15px 30px;
	font-weight: 700;
  &:hover {
  	color: #2F5996;
		background-color: white;
		border: white;
  }
  &:active {
  	color: #2F5996;
  	background-color: darken(white, 4%);
  	border-color:darken(white, 4%);
  }
}

.btn__inactive {
	pointer-events: none;
	color: white;
	background-color: $grey;
  border-color: transparent;
}

.btn__sm {
	// height: $btnMobileHeight;
	// line-height: #{$btnMobileHeight + 0};
 	@include btnHeight($btnSmHeight, $btnFontSize, -1);
  padding-left: 20px;
  padding-right: 20px;
  @include fs($btnFontSizeSm);
  border-radius: 2px;
}
.btn__xs {
	// height: $btnMobileHeight;
	// line-height: #{$btnMobileHeight + 0};
 	@include btnHeight($btnXsHeight, $btnFontSize, -1);
  padding-left: 12px;
  padding-right: 12px;
  @include fs($btnFontSizeSm);
  border-radius: 2px;
}

.btn__subscribe {
	width: 100%;
	text-align: center;
	background-color: currentColor;
	border-color: currentColor;
	@include btnHeight($btnFormationHeight, $btnFontSize, 1);

	@include responsive(tablette) {
		@include btnHeight($btnFormationHeightSm, $btnFontSize, .5);
	}
	// height: $btnFormationHeight;
 	//  line-height: #{$btnFormationHeight + 0};

  @include responsive(smartphone) {
		// height: $btnMobileHeight + 10;
  	// 	line-height: #{$btnMobileHeight + 0 + 10};
	  @include fs($btnFontSizeTiny);
	  @include btnHeight($btnMobileHeight, 11, 1);
	}

	@media (max-width: 360px) {
		line-height: 1.4;
		text-align: left;
	}

	.btn--content {
		color: #fff;
	}
	.btn--arrow {
		color: #fff;
	}
}


// BTN text only
.btn-text{
	display: inline-block;
	@include fs(14);
	color: $blue;
	font-weight: $normal;
	@extend .link-fx;
	text-decoration: none;
	padding: 4px 0;
	overflow: hidden;
	cursor: pointer;
	&:after{
		width: 87%;
		bottom: 0;
		transform: translate3d(-101%,0,0);
	}

  .icon-arrow{
		position:relative;
		top:2px;
		left:1px;
		transform: translate3d(0,0,0);
		@include fs(12);
		transition: all .2s $cCubic .1s;
  }
  &:hover{
		&:after{
			width: 87%;
			transform: translate3d(0,0,0);
		}
		.icon-arrow{
			left:3px;
	  }
	}
}

.btn-hero{
	color: white;
	border-color:white;
	&:hover{
		background-color: white;
		color: $ccmain;
		border-color:white;
	}
}

.btn-blue{
	color: white;
	background-color: $blueGround;
	border-color: $blueGround;
	&:hover{
		color: white;
		border-color: darken($blueGround,4%);
		background-color: darken($blueGround,4%);
	}
}
