/* $DESCRIPTION LIST
   ========================================================================== */

.description-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 90px;
  @include fs(15);
  @include responsive(smartphone) {
    margin-bottom: 50px;
    @include fs(12);
  }
}
.description-list dt {
  border-bottom: 1px solid #e6e3e1;
  padding: .3em 10px .3em 0;
  flex: 0 0 auto;
  width: 25%;
  box-sizing:border-box;
  @include responsive(smartphone) {
    width: 50%;
  }
}
.description-list dd {
  margin: 0;
  padding: .3em 0 .3em 10px;
  font-weight: 700;
  flex: 0 0 auto;
  width: 75%;
  box-sizing:border-box;
  @include responsive(smartphone) {
    width: 50%;
  }
}
.description-list dt+dd {
  border-bottom: 1px solid #e6e3e1;
}
