.head-expertises{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 50px;
	.home-title-section{
		margin-bottom: 20px;
	}
}

.body-expertises{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.picto-expertises{
	display: block;
	margin-right: auto;
	margin-left: auto;
	height:90px;
	// height:100px;
	padding-bottom: 25px;
}

.expertises-col{
	padding:25px;
	max-width: 350px;
}

.w-33{
	@include responsive(desktop){
		width: 33%;
	}
}

.btn-expertise-mobile{
	@include responsive(smartphone){
		position: relative;
		top: 50px
	}
}

