footer {
	color: white;
	.footer__upper {
		background-color: $blueTitle;
		padding: 80px 130px;
		display: flex;
		flex-wrap: wrap;
		@include responsive(smartphone) {
			padding: 30px;
		}
		.footer__social-section {
			flex-grow: 1;
			p {
				font-weight: $medium;
				@include fs(50);
				line-height: 1.2;
				@include responsive(smartphone) {
					@include fs(42);
					text-align: center;
				}
			}
			.footer__social-link {
				margin-top: 40px;
				display: flex;
				svg {
					margin-right: 20px;
					height: 37px;
				}
				@include responsive(smartphone) {
					margin-top: 20px;
					margin-bottom: 50px;
					justify-content: center;
				}
			}
		}
		.footer__link-section {
			display: flex;
			a {
				color: white;
				text-decoration: none;
				display: block;
				margin-bottom: 10px;
			}
			.footer__nav {
				margin-right: 50px;
				a {
					font-weight: $bold;
				}
			}
		}
	}
	.footer__lower {
		padding: 15px 130px;
		background-color: $blueGround;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@include responsive(smartphone) {
			padding: 15px 30px;
		}
		> * {
			@include fs(14);

			white-space: pre;
			flex-basis: 33%;
			text-align: center;
			&:nth-child(1) {
				text-align: left;
			}
			&:nth-child(3) {
				text-align: right;
			}
			@include responsive(mdesktopdown) {
				flex-basis: 100%;
				margin: 5px 0;
				&:nth-child(1),
				&:nth-child(3) {
					text-align: center;
				}
			}
		}
	}
}
