.form-wrapper {
	margin: 0 auto;
	margin-bottom: 190px;
  @include responsive(desktop) {width: 100/12*8%;}
  @include responsive(smdevice) {
    margin-bottom: 100px;
  }
}

/* Inputs
-----------------------------------------------------*/

.wpcf7-form-control-wrap, .form-control-wrap {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
    @include responsive(smdevice) {margin-bottom: 20px}
    .form-control {
      color: #343131;
      font-weight: normal;
      box-shadow: none;
      border: none;
      padding-left: 1.2rem;
      width: 100%;
      height: 65px;
      border: 1px solid #ebe8e6;
      transition: border 0.2s $easeInOutCirc;
      @include responsive(smdevice) {
        height: 40px;
        @include fs(14);
      }
    }
    & + br {
      display: none;
    }
}

.form-control:hover {
    border: 1px solid lighten($ccmain, 30%);
}

.form-control:focus {
    border: 1px solid lighten($ccmain, 30%);
}

.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.form-control:focus {
    outline: none;
}

.form textarea {
  min-height: 260px;
  padding-top: 15px;

}

::-webkit-input-placeholder {
   color: $ccmain;
}

:-moz-placeholder { /* Firefox 18- */
   color: $ccmain;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $ccmain;
}

:-ms-input-placeholder {
    color: $ccmain;
}

/* Form label
-----------------------------------------------------*/

label {
  display: block;
  @include fs(18);
  font-weight: 600;
  margin-bottom: 10px;
  @include responsive(smdevice) {
    @include fs(14);
  }
}

/* Form btn
-----------------------------------------------------*/

.form .btn  {
  margin-right: 5px;
  outline: none;
}