/* $GALLERY
   ========================================================================== */

$gallery-bg-color: $darkGrey;
$gallery-filter-color: #575351;

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  // margin-bottom: 50px;
  @include responsive(smartphone) {
    display: block;
  }
}
.gallery--item {
  cursor: pointer;
  position: relative;
  flex: 0 0 auto;
	width: calc(50% - 6px);
	margin-bottom: 100px;
	a{
		display: block;
	}
	@include responsive(smartphone) {
		width: 100%;
		margin-bottom: 30px;
	}
	&:hover{
		.gallery--item--picture img{
			transform: scale(1.1);
		}
	}
}
.gallery--item--picture {
	height: 250px;
	position: relative;
	overflow: hidden;
	background-color: $grey;
	img{
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		font-family: "object-fit: cover;";
		transition: 0.7s $easeInOutCirc;
	}
}
.gallery--item--title {
	margin-top: 15px;
	color: black;
  @include fs(26);
  font-weight: $normal;
  line-height: 1.7;
  position: relative;
  @include responsive(smdevice) {
    @include fs(18);
  }
}

/* ==== GALLERY FILTERS ==== */

.gallery-filters {
	display: flex;
	text-transform: uppercase;
	margin: 100px 0 80px;
	@include fs(14);
	@include responsive(smartphone){
		flex-direction: column;
	}
	span{
		margin-right: 5px;
		padding: 5px 10px;
		flex-shrink: 0;
	}
	ul{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		li{
			margin-right: 5px;
			padding: 5px 10px;
			a{
				text-decoration: none;
			}
			color: $blueTitle;
			transition: .3s;
			&:hover{
				background-color: rgba($blueTitle,0.5);
				color: white;
			}
			&.is-active{
				background-color: $blueTitle;
				color: white;
			}
		}
	}


}
