.container-groupe {
	// padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.groupe-textbloc{
		width: 600px;
		color: white;
		h2{
			margin-bottom: 10px;
		}
		p{
			margin-bottom: 50px;
		}
		a{
			z-index: 1;
			position: relative;
		}
	}
	.groupe-data{
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		.groupe-data-number{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 100px;
			width: 280px;
			height: 280px;
			position: relative;
			color: white;
			text-align: center;
			h4,span,p{
				margin: 0;
			}
			h4,p{
				@include fs(16);
			}
			h4{
				text-transform: uppercase;
			}
			span{
				@include fs(76);
				font-weight: $medium;
				line-height: 1.1;
			}
			img{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:nth-child(1){
				top: -100px;
				img{
					transform: translate(-50%, -50%) rotate(180deg);
				}
			}
			@include responsive(smartphone){
				height: auto;
				top: 0;
				&:nth-child(1){
					img{
						transform: translate(-50%, -50%) rotate(-90deg);
					}
				}
				&:nth-child(2){
					top: -50px;
					img{
						transform: translate(-50%, -50%) rotate(90deg);
					}
				}
			}
		}
		@include responsive(smartphone){
			flex-direction: column;
			margin: 250px 0 100px;
		}

	}

}
