/* $IMAGES
   ========================================================================== */

$img-banner-ct-size: $contentContainer-size;

// Responsive images (ensure images don't scale beyond their parents)
.img-fluid {
	@include img-fluid;
}

.img-cover {
	@include img-cover;
}

.img-cover-ct {
	position: relative;
	height: 0;
	padding-bottom: 50%;
	> img {
		@include img-cover;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
	}
}