.link-fx,
%link-fx{
	display: inline-block;
	backface-visibility: hidden;
	position: relative;
	&:after{
		content:"";
		//visibility: hidden;
		//opacity: 1;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -2px;
		width: 0%;
		height: 1px;
		background-color: currentColor;
		transition: all .4s $cCubic;
		transform: translate3d(0, 0, 0);
	}
	&:hover, &:active, &.link-fx--hovered{
		&:after{
			visibility: visible;
			opacity: 1;
			width: 	100%;
		}
	}
}

