/* $LIST MEDIA
   ========================================================================== */


.list-media--item {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #f2f1f0;
    @include responsive(minsmartphone) {
    display: flex;
    flex-wrap: wrap;
  }
}
.list-media--item--picture {
    @include img-cover-ct();
    padding-bottom: 75%;
    @include responsive(minsmartphone) {
      padding-bottom: 24.2%;
      flex: 0 0 auto;
      width: 33%;
      max-width: 400px;
      margin-right: 50px;
    }
    img {
      display: block;
  }
}
.list-media--item--text {
   flex: 1 1 0;
   width: auto;
   padding-top: 30px;
}
.list-media--item--date {
    @include fs(18);
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.4px;
    color: $black;
    margin-bottom: 18px;
    @include responsive(smartphone) {
      @include fs(10);
    }
}
.list-media--item--title {
    @include fs(34);
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.1px;
    color: $black;
    padding-bottom: 15px;
    margin-bottom: 25px;

    position: relative;
    @include responsive(smartphone) {
      @include fs(16);
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      height: 3px;
      width: 30px;
      background:$ccmain;
      transition: width 0.7s $easeInOutCirc;
    }
}
.list-media--item--resume {
  margin-bottom: 0;
}

// Media item top highlighted
.list-media--item__une {
    display: block;
    .list-media--item--picture {
      width: 100%;
      max-width: none;
      margin-right: 0;
      padding-bottom: 30%;
      @include responsive(smartphone) {
        padding-bottom: 75%
      }
    }
}