/* $LIST RELATED
   ========================================================================== */

.list-related {
    display: flex;
    flex-wrap: wrap;
    >li {
        // @extend .icon-font;
        // @extend .icon-star;
        position: relative;
        padding: 0 30px 0 25px;
        margin-bottom: 20px;
        a {
            // @extend .link-fx;
            @include fs(16);
            color: black;
            font-weight: $medium;
            text-transform: uppercase;
            text-decoration: none;
        }
        // a[href='#'] {
        // 	display: none;
        // }
        &:before {
            color: $grey;
            display: block;
            position: absolute;
            top: 8px;
            left: 0px;
            @include fs(11);
            @include responsive(smartphone) {
                top: 5px;
                left: 0px;
            }
        }
    }
}
