.module-logocaroussel{

	.content-container{
		position: relative;
	}

	.module-light-blue + &::before{
		content: "";
		display: block;
		background-color: $blueLight;
		height: 30px;
		width: 30px;
		position: absolute;
		top: -15px;
		left: calc(50% - 15px);
		transform: rotate(45deg);
	}

	.logo-slider {
		background: white;
		.logo-slider__slide{
			height: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				margin: auto;
				@include responsive(smartphone){
					padding:0 6px;
					width:100%;
				}
			}
		}
	}

	.logo-slider__arrow{
		position: absolute;
		outline: none;
		border: none;
		background-color: transparent;
		top: 50%;
		transition: all 0.3s $easeInOutQuad;
		height: 0;
		&:before {
			@extend .icon-font;
			@extend .absolute-center;
			color: rgba(#282828, 1);
			@include fs(24);
		}

		&.logo-slider__arrow--next {
			right: -20px;
			&:before {
				@extend .icon-arrow-right;
			}
			@include responsive(smdevice){
				right: 0;
			}
		}

		&.logo-slider__arrow--prev {
			left: -20px;
			&:before {
				@extend .icon-arrow-left;
			}
			@include responsive(smdevice){
				left: 0;
			}
		}
		&:hover{
			transform: scale(1.1);
		}
		@include responsive(smartphone){
			display: none !important;
		}

	}


}
