/* $MAP
   ========================================================================== */

#map-canvas{
  height: 0;
  width: 100%;
  padding-bottom: 76%;
  margin-bottom: 30px;
  @include responsive(smartphone) {
    padding-bottom: 90%;
  }
  .map-infowindow {
  	margin-bottom: 0;
  	.address-title {
  		&:before {
  			display: none;
  		}
  	}
  }
 }

.map-infowindow {
	@include fs(14);
	line-height: 1.5;
	margin-bottom: 90px;
  @include responsive(smartphone) {
    margin-bottom: 30px;
    @include fs(12);
  }
	.address-title {
		cursor: pointer;
		margin: 0 0 10px 0;
	}
	&.active .address-title, .address-title:hover {
			&:before {
				width: 65px;
			}
	}
}