$color:#ccc;
// markup style
.markup {
    &:first-child {
        // margin-top: 150px;
        @include responsive(smartphone) {
            margin-top: 40px;
        }
    }
    @include fs(21);
    line-height: 1.7;
    @include responsive(tablette) {
        @include fs(14);
    }
    @include responsive(smartphone) {
        @include fs(12);
        margin-bottom: 30px;
    }
    >* {
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    p {
        &:first-child {
            @include responsive(smartphone) {
                margin-top: 40px;
            }
        }
    }
    a {
        // color: rgba($ccmain, 0.8);
        position: relative;
        text-decoration: none;
        letter-spacing: 0.02em;
        font-weight: bold;
        // padding-bottom: 6px;
				white-space: nowrap;
				@extend %link-fx;
    }
    b,
    strong {
        font-weight: $bold;
    }
    ul {
        padding-left: 60px;
        @include responsive(smdevice) {
						padding-left: 40px;
				}
        >li {
            position: relative;
            &:before {
                content: "";
                display: inline-block;
                height: 0;
                width: 0;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 9px solid $blueTitle;
                position: relative;
                right: 10px;
            }
            >ol {
                padding-left: 20px;
                counter-reset: list-ol;
                li {
                    &:before {
                        counter-increment: list-ol;
                        content: counters(list-ol, '.') ".";
                        margin-right: 5px;
                        font-weight: $bold;
                        text-align: right;
                        color: $color;
                    }
                }
            }
        }
    }
    >ol {
        padding-left: 40px;
        counter-reset: list-ol;
        >li {
            position: relative;
            >ol {
                padding-left: 30px;
                counter-reset: list-ol;
                li {
                    &:before {
                        counter-increment: list-ol;
                        content: counters(list-ol, '.') ".";
                        margin-right: 5px;
                        font-weight: $bold;
                        text-align: right;
                        color: $color;
                    }
                }
            }
            &:before {
                counter-increment: list-ol;
                content: counters(list-ol, '.') ".";
                margin-right: 5px;
                font-weight: $bold;
                text-align: right;
                color: $color;
            }
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
				color: $blueTitle;
        margin-top: 20px;
        font-weight: $bold;
    }
    h1 {
        @include fs(30);
    }
    h2 {
        @include fs(28);
    }
    h3 {
        @include fs(26);
    }
    h4 {
        @include fs(24);
    }
    h5 {
        @include fs(22);
    }
    h6 {
        @include fs(20);
    }
    img {
        display: block;
				width: 100%;
				height: auto;
				margin-bottom: 20px;
    }
    &:not(.markup__2cols) blockquote {
       // max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        font-family: $typoSecondary;
        @include fs(36);
        font-style: italic;
        line-height: 1.22;
        text-align: left;
        @include responsive(smartphone) {
            @include fs(22);
        }
        @media screen and (min-width: 800px) {
            // margin-left: -30px;
            // margin-right: -30px;
        }
    }
}

// Markup cols
.markup__2cols {
    @include responsive(minsmartphone) {
        column-count: 2;
        column-gap: 85px;
    }
}




/* MARKUP MODIFIERS
--------------------- */

.markup__space-md {
    >*,
    >p {
        &:first-child {
            margin-top: 40px;
        }
    }
}

.descriptions {
    @include fs(18)
}
