.module{
	padding: 50px 0;
	&.module--blue{
		padding: 100px 0;
		background-color: $blueGround;
		@include responsive(smartphone){
			padding: 50px 0;
		}
	}
	&.module-light-blue{
		padding: 100px 0;
		background-color: $blueLight;
		@include responsive(smartphone){
			padding: 50px 0;
		}
	}
	&.module--blue-groupe{
		padding: 100px 0;
		background-color: $blueGround;
		background-image: url(../img/patternHome.png);
		@include responsive(desktop){
			background-size: 50%;
		}
		background-repeat: no-repeat;
		background-position-x: right;
	}

	&.module-light-blue,&.module--blue{
		.module.module--socialshare + &{
			margin-top: 50px;
		}
	}
}

.module.module--socialshare{
//	margin: 50px 0;
	padding: 0;
	pointer-events: none;
	svg{
		pointer-events: all;
	}
	p{
		margin-bottom: 10px;
		color: black;
	}
	svg {
		height: 22px;
		margin-right: 10px;
		path{
			fill: $blueTitle;
			transition: .3s;
			&:hover{
				fill: $blue;
			}
		}
	}
	.module--blue+&{
		padding-top: 50px;
	}

	.module--ct-slider+&{
		margin-top: -130px;
		padding-bottom: 30px;
		@include responsive(smartphone) {
			margin-top: -110px;
		}
	}

	.module--twoblocks+&{
		margin-top: -45px;
	}
	a{
		text-decoration: none;
	}
}


.module--multiblocks{
	margin-bottom: -50px;
	.col{
		margin-bottom: 50px;
	}
}
