/* $SITENAV
   ==========================================================================
*/

$sitenavZ: 1000;

.header--main {
	position: absolute;
	height: 110px;
	z-index: 100;
	width: 100%;
}

.sitenav {
	background-color: #fff;
	max-width: 1200px;
	display: none;
	height: 100%;
	padding: 0 40px 0px;
	z-index: $sitenavZ;
	@include responsive(mintablette) {
		display: block;
	}
	position: relative;
}

// SITE NAV LEVEL 1
.sitenav--inner {
	//OLD > .sitenav--inner
	display: flex;
	height: 100%;
	justify-content: space-between;
	flex-direction: row;
}

.sitenav--title {
	display: flex;
}

.sitenav--title--logo {
	display: inline-block;
	padding: 20px 0;
	position: relative;
	> svg,
	> img {
		width: 150px;
		height: 100%; // align vertically
		vertical-align: top;
		@include responsive(navsmall) {
			width: 120px;
		}
	}
	&:nth-child(1) {
		position: absolute;
		top: -4px;
	}
	&:nth-child(2) {
		margin-left: 165px;
		@include responsive(navsmall) {
			margin-left: 135px;
		}
	}
}

ul li:hover > ul,
ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

ul.polylang--nav {
	display: flex;
	align-items: center;
	margin-left: 20px;
	a {
		text-transform: uppercase;
		text-decoration: none;
		font-weight: $light;
		color: $blue;
		margin-left: 5px;
		@include fs(12);
	}
	.current-lang a {
		font-weight: $bold;
	}
}

.sitenav--nav {
	display: flex;
	margin-left: auto;
	flex-direction: row;
	position: relative;

	.menu-list {
		display: flex;
		align-items: center;

		.sub-menu {
			visibility: hidden;
			top: 65%;
			opacity: 0;
			position: absolute;
			transition: background-color 0.5s ease;
			padding: 15px 10px;
			// left: 0;
			display: none;
			height: auto;
			background-color: #fff;
			min-width: 220px;
			box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1;
			box-sizing: border-box;

			> li {
				position: relative;
				padding: 0;
				background-color: #fff;
				color: $ccmain;
				text-align: left;

				// border-bottom: 1px solid $blue;
				&:last-child {
					border-bottom: none;
				}

				// &:hover{ background-color: $colorTitle; }

				a {
					// height: 100%;
					padding: 5px 8px 5px 23px;
					width: 100%;
					transition: 0.3s;
					&:hover {
						color: $blueTitle;
					}
				}
			}
		}

		> li:hover {
			&:before {
				opacity: 0.5;
			}
		}

		> li.current-li {
			&:before {
				opacity: 1;
			}
		}

		li:hover > ul,
		li ul:hover {
			visibility: visible;
			opacity: 1;
			display: block;
		}

		li {
			height: 100%;
			display: flex;
			align-items: center;
			position: relative;
			&:before {
				content: "";
				top: 0;
				position: absolute;
				opacity: 0;
				display: block;
				background-color: $blueGround;
				width: 100%;
				height: 10px;
				transition: 0.3s $easeInOutQuad;
			}
			a {
				display: block;
				backface-visibility: hidden;
				position: relative;
				padding: 5px 18px;
				margin: 0 5px;
				@include fs(14);
				color: $blue;
				font-weight: $normal;
				text-decoration: none;

				transition: 0.2s $easeOutP4;
				background: none;
				font-family: $typoMain;
				font-weight: 500;
				cursor: pointer;

				&:hover {
					color: $blue;
				}

				@include responsive(navsmall) {
					margin: 0;
				}
			}
		}

		li.menu-item-has-children {
			padding-right: 13px;
			> a {
				&:after {
					position: absolute;
					top: 8px;
					right: 0;
					content: "";
					width: 8px;
					height: 8px;
					border-style: solid;
					border-width: 1px;
					border-color: transparent transparent $blueGround $blueGround;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

#search_icon {
	cursor: pointer;
	width: 18px;
}

.sitenav-searchbar {
	display: none;
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 20px rgba($ccmain, 0.1);
	.sitenav-searchbar--inner {
		display: flex;
		height: 100%;
		background-color: #fff;
		font-family: $typoMain;
		input {
			flex-grow: 1;
			border: none;
			padding: 20px;
			font-family: $typoMain;
			@include fs(32);
			color: $ccdominant;
			outline: none;
		}
		.btn {
			font-family: $typoMain;
			font-weight: $medium;
			height: 100%;
			width: 130px;
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		button {
			@include fs(22);
			line-height: 1;
		}
		span.btn {
			width: 80px;
			background: $blueTitle;
			border: 0;
			@include fs(22);
			line-height: 1;
		}
	}

	&.sitenav-searchbar--mobile {
		display: block;
		position: relative;
		border-bottom: 1px solid rgba(255,255,255,.3);
		.sitenav-searchbar--inner {
			input {
				min-width: 0;
				@include fs(18);
			}
			.btn {
				width: 80px;
				height: 80px;
			}
		}
	}
}
