/* $SLIDERS
   ==========================================================================
*/

// # Used with slick
// # Dependency : 		 slick.scss
// # Generalities in : slides.scss

/* Full width slider
------------------------------------- */

.ct-slider__hero-wrapper {
	display: flex;
//	justify-content: center;
	align-items: center;
	position: relative;
	height: 0;
	padding-bottom: 62%; //width: 1024|1279
	overflow: hidden;
	position: relative;
	margin-bottom: 0;
	background: #fff;
	@include responsive(mdesktop) { //min-width: 1280
		// padding-bottom: 52.5%;
		padding-bottom: 0;
		height: 100vh;
	}
	@include responsive(big) { //min-width: 1700
		padding-bottom: 0;
		height: 750px;
	}
	@include responsive(tablette) { //width:768|1023
		padding-bottom: 90%;
	}
	@include responsive(smartphone) { //max-width:767
		// padding-bottom: 140%;
		padding-bottom: 0;
		// mobile fs = 100vh - titlebar(44px) + navbar(44px) + statusbar(20px)
		height: calc(100vh - 44px - 44px + 20px);
	}
	@include responsive(smallheight) { //max-height:415
		// padding-bottom: 40.5%;
		padding-bottom: 0;
		height: 100vh;
	}
}

.ct-slider__hero {
	@extend .ct-slider;
	@extend .absolute-fit;
	position: absolute;
	height: 100%;
	padding-bottom: 0;
	.slick-list {
		@extend .absolute-fit;
	}
	.slick-track, .slick-slide, .ct-slider--slide--inner {
		height: 100%;
	}
	.slick-dots {
		@include responsive(smdevice) {
			bottom: 8px;
		}
	}
	.ct-slider--slide {
		overflow: hidden;
		position: relative;
	}
	.ct-slider--slide:before {
		content: "";
		@extend .overlay-dark;
	}
	&.slick-initialized {
		// Avoid having a flash effect
		.ct-slider--slide--inner {
			animation: fadein .4s $easeInOutP5 forwards;
		}
	}
}

.ct-slider__hero--slide--video {
	width: 100%;
	height: 100%;
	@include img-cover();
}

.ct-slider--nb-indic-wrapper {
	position: absolute;
	bottom: 18px;
	right: 170px;
	color: #fff;
	// .slick-arrow are equals desktop:
	// @include responsive(smartphone) {
	// 	bottom: 8px;
	// 	right: 110px;
	// }
}

// SLIDER HERO TEXT
.ct-slider__hero__text {
	box-sizing: border-box;
	left: 75px;
	max-width: 1000px;//660
	// @include responsive(mdesktopdown) {
	// 	top: 55%;
	// }
	@include responsive(smdevice) {
		left: 35px;
		max-width: 100%; //470px
	}
	// @include responsive(tablette) {
	// 	left: 0px;
	// 	max-width: 550px; //470
	// }
	@media only screen and (min-width: 768px) and (max-width: 768px) {
		left: 0px;
	}
	@include responsive(smartphone) {
		left: 0;
		right: 0;
		// padding: 20px;
	}
	&.slick-initialized.slick-css-swipe .slick-track {
		transition: 1s cubic-bezier(0.83, 0.01, 0.31, 0.99) 0.05s !important;
	}
}

.ct-slider__hero__text--slide--text {
	opacity: 0;
	transition: 0.68s cubic-bezier(0.83, 0.01, 0.31, 0.99) 0s;
	padding: 50px 90px;
	// .slick-active & {
	.slick-initialized & {
		opacity: 1;
	}
	@include responsive(smartphone) {
		padding: 0 40px;
	}
}

.ct-slider__hero__text{
	width: 1000px;
	z-index: 1;
	position: relative;
	.ct-slider--slide:only-child{
		position: relative;
		height: auto;
		width: auto;
		.ct-slider__hero__text--slide--text {
			opacity: 1;
		}
	}
}
