.video-wrapper {
	width: 100%;
	padding-top: 56.25%; /* 1:1 Aspect Ratio */
	position: relative;
	iframe{
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
}
