/* ==== RESET ==== *\


// ============== \\
    DEPENDANCIES
\\ ============== //

mixin.scss

\* ==== END ==== */

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-style: inherit;
}
ol, ul {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/***********\
-- general --
\***********/
html {
    -webkit-font-smoothing: antialiased !important;
    //font-size: 62.5%;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    @include font-size(16);
    line-height: 1.5;
}

a {
    -webkit-font-smoothing: antialiased !important;
    color: inherit;
}

button {
    border:none;
    cursor:pointer;
    @include font-size(16);
}

input,
button {
    //-webkit-appearance: none;
    border-radius: 0;
}

/* cursor */
.pointer {cursor: pointer;}
.cursorDefault {cursor: default;}

/* clearfix */
.clearfix {
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
    display: block;
}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

/* float */
.fll {float: left;}
.flr {float: right;}
.clearb {clear: both;}
.dnone {display: none;}
.ib {display: inline-block;}

/* text */
b, .bold, .b {font-weight:bold;}

.i, .italic {font-style: italic;}

.txt_center {text-align: center;}
.txt_right {text-align: right;}
.txt_left {text-align: left;}

.uppercase {text-transform: uppercase;}
.smallcaps {font-variant: small-caps;}

/* opacity */
.opa0 {opacity: 0;}
.opa1 {opacity: 1;}

/* unselect */
.unselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* position */
.rel {position: relative;}
.abs {position: absolute;}
.fix {position: fixed;}

/* */
.auto {margin-left: auto;margin-right: auto;}

/* overflow */
.overflowH {overflow: hidden;}
.overflowHX {overflow-x: hidden;}
.overflowHY {overflow-y: hidden;}

/* padding */
.pad0  {padding:0px;}
.pad10 {padding:10px;}
.pad20 {padding:20px;}
.pad30 {padding:30px;}
.pad40 {padding:40px;}

.padw0  {padding-left:0px;padding-right:0px;}
.padw10 {padding-left:10px;padding-right:10px;}
.padw20 {padding-left:20px;padding-right:20px;}
.padw30 {padding-left:30px;padding-right:30px;}
.padw40 {padding-left:40px;padding-right:40px;}

.padh0  {padding-top:0px;padding-bottom:0px;}
.padh10 {padding-top:10px;padding-bottom:10px;}
.padh20 {padding-top:20px;padding-bottom:20px;}
.padh30 {padding-top:30px;padding-bottom:30px;}
.padh40 {padding-top:40px;padding-bottom:40px;}

.padt0  {padding-top:0px;}
.padt10 {padding-top:10px;}
.padt20 {padding-top:20px;}
.padt30 {padding-top:30px;}
.padt40 {padding-top:40px;}

.padb0  {padding-bottom:0px;}
.padb10 {padding-bottom:10px;}
.padb20 {padding-bottom:20px;}
.padb30 {padding-bottom:30px;}
.padb40 {padding-bottom:40px;}

.padl0  {padding-left:0px;}
.padl10 {padding-left:10px;}
.padl20 {padding-left:20px;}
.padl30 {padding-left:30px;}
.padl40 {padding-left:40px;}

.padr0  {padding-right:0px;}
.padr10 {padding-right:10px;}
.padr20 {padding-right:20px;}
.padr30 {padding-right:30px;}
.padr40 {padding-right:40px;}

/* padding */
.mar0  {margin:0px;}
.mar10 {margin:10px;}
.mar20 {margin:20px;}
.mar30 {margin:30px;}
.mar40 {margin:40px;}

.marw0  {margin-left:0px;margin-right:0px;}
.marw10 {margin-left:10px;margin-right:10px;}
.marw20 {margin-left:20px;margin-right:20px;}
.marw30 {margin-left:30px;margin-right:30px;}
.marw40 {margin-left:40px;margin-right:40px;}

.marh0  {margin-top:0px;margin-bottom:0px;}
.marh5  {margin-top:5px;margin-bottom:5px;}
.marh10 {margin-top:10px;margin-bottom:10px;}
.marh20 {margin-top:20px;margin-bottom:20px;}
.marh30 {margin-top:30px;margin-bottom:30px;}
.marh40 {margin-top:40px;margin-bottom:40px;}

.mart0  {margin-top:0px;}
.mart10 {margin-top:10px;}
.mart20 {margin-top:20px;}
.mart30 {margin-top:30px;}
.mart40 {margin-top:40px;}

.marb0  {margin-bottom:0px;}
.marb10 {margin-bottom:10px;}
.marb20 {margin-bottom:20px;}
.marb30 {margin-bottom:30px;}
.marb40 {margin-bottom:40px;}

.marl0  {margin-left:0px;}
.marl10 {margin-left:10px;}
.marl20 {margin-left:20px;}
.marl30 {margin-left:30px;}
.marl40 {margin-left:40px;}

.marr0  {margin-right:0px;}
.marr10 {margin-right:10px;}
.marr20 {margin-right:20px;}
.marr30 {margin-right:30px;}
.marr40 {margin-right:40px;}

/* font-sise */
@for $i from 10 through 28 {
    .fs#{$i} {
        @include font-size($i);
    }
}

/* video */
.embed-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    overflow: hidden;
    iframe {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        right:0;
        width: 100%;
        height: 100%;
    }
}